h1.title Sign Up
.columns
  .box.column.is-one-fifth
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        p.control
          label.label for="user_email" Email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
        hr
        p.control
          label.label for="user_password" Password
          = f.password_field :password, autocomplete: "new-password", class: 'input'
        p.control
          label.label for="user_password_confirmation" Password Confirmation
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'

      .actions.buttons
        = f.submit "Sign Up", class: "button is-link"

= render "devise/shared/links"
