nav class="navbar is-link" role="navigation" aria-label="main navigation"
  .navbar-brand
    = link_to decks_path, class: 'navbar-item'
      p class="subtitle has-text-white" BMS Deckbuilder

  .navbar-menu.navbar-end.navbar-item
    .buttons
      - if user_signed_in?
        = button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button'