h1.title Log In
.columns
  .box.column.is-one-fifth
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        p.control
          label.label for='user_email' Email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
        p.control
          label.label for='user_password' Password
          = f.password_field :password, autocomplete: "current-password", class: 'input'

      - if devise_mapping.rememberable?
        .field
          label.label.checkbox
            = f.check_box :remember_me
            | Remember Me

      .actions.buttons
        = f.submit "Login", class: 'button is-link'

= render "devise/shared/links"