= content_tag :div, id: 'deck-form',
        class: 'block box',
        data: { id: @deck.id,
                deck: @deck.to_json(except: %i[id created_at updated_at]),
                cards_attributes: @deck.cards.to_json(except: %i[deck_id created_at updated_at]) } do
  #cards
    .columns
      .column.is-two-fifths
        label for="deck-name" class="label subtitle" Deck Name
        input id="deck-name" class="input"  v-model="deck.name"

    h4 class="label" Cards
    .columns v-for="(card, index) in deck.cards_attributes"
      .column v-if="card._destroy == 1"
        | Card will be destroyed
        button.button v-on:click="undoRemove(index)" Undo
      div.column.is-two-fifths.field.has-addons.is-vcentered v-else=""
        p.control.is-expanded
          input.input.is-flex-grow-5 type="text" id='body-{{index}}' class="card-editor" v-model='card.body'
        p.control
          input.input type="text" placeholder="color" v-model="card.color"
        p.control
          button.button.is-disabled.is-rounded.is-outlined
            label.checkbox
              input.checkbox type="checkbox" v-model="card.enabled"
              | Enabled
        p.control
          button.button.is-danger.is-light.is-outlined.is-rounded v-on:click="removeCard(index)" Remove
    .field.is-grouped
      p.control
        button.button v-on:click="addCard" Add Card
      p.control
        button.button.is-primary v-on:click="saveDeck" Save Deck