h1.title Decks
div.box id="decks"
  ul.columns.is-flex-wrap-wrap id="deck-list"
    - @decks.each do |deck|
      li.column.is-one-fifth id="deck-#{deck.id}"
        = link_to deck.name, deck, class: 'box has-text-centered has-background-light subtitle'

= link_to 'Create Deck', new_deck_path, class: 'button'