#app
  h1.title
    = "Deck: #{@deck.name}"
  .box
    h2.subtitle Cards
    hr
    ul.block
      - @deck.cards.each do |card|
        li
          = card.body
    .field.is-grouped.is-grouped-multiline
      p.control
        = link_to "Edit this Deck", edit_deck_path, class: 'button'
      p.control
        = link_to "Back to decks", decks_path, class: 'button'
      p.control
        = button_to "Destroy this Deck", @deck, method: :delete, class: 'button'

