doctype html

script
  | window.process = { env: {} }

head
  title BMS Deckbuilder
  meta name="viewport" content="width=device-width,initial-scale=1"
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags

body
  == render 'shared/navbar'
  - if notice
    p.notification.notice.is-primary
      = notice
  - if alert
    p.notification.alert.is-danger
      = alert

  section class="section"
    #container
      = yield
